/* COLORS */
$gray: #ddd;

/* GENERAL STUFF */
body {
  margin: 0;
}

#app {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* SEARCH ICON */
$size: 80px;
$tenth: $size / 10;
$twentieth: $size / 20;
$color: #000;
$ttime: 0.5s;

.magic-icon-search {
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 10%;
    height: 40%;
    background: $color;
    position: absolute;
    left: 75%;
    top: 75%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all $ttime;
  }
  &.close::before {
    height: 80%;
    left: 50%;
    top: 50%;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    border: $tenth solid black;
    border-radius: 50%;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all $ttime;
  }
  &.close::after {
    border-width: $twentieth;
    border-radius: 0px;
    // background: $color;
    width: 0px;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

/* SEARCH WRAPPER */
.search-wrapper {
  transition: all $ttime;
  width: $size;
  height: $size;
  position: relative;
  .magic-icon-search {
    position: absolute;
    right: $twentieth;
  }
  .search-bar {
    width: 0px;
    padding: 0px;
    position: absolute;
    left: $twentieth;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
  }
  &.open {
    width: 8 * $size;
    .search-bar {
      width: 7 * $size - 2 * $twentieth;
    }
  }
}

/* SEARCH BAR */
$font-size: 36px;

.search-bar {
  input {
    width: inherit;
    border: none;
    border-bottom: 2px solid $gray;
    background: none;
    font-size: $font-size;
    &:focus {
      outline: none;
    }
  }
}
