/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$font-family: 'Ubuntu', sans-serif;

/* COLORS */
$background: #263238;
$gray: #aaa;
$line-color: yellow;
$main-text: #fff;
$accent: #6af;

/* GENERAL STUFF */
body {
  margin: 0;
  font-family: $font-family;
  background: $background;
  color: $main-text;
}

.app {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.app-title {
  text-align: center;
}

/* SEARCH ICON */
$size: 52px;
$tenth: $size / 10;
$twentieth: $size / 20;
$color: $main-text;
$ttime: 0.5s;

.magic-icon-search {
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 10%;
    height: 40%;
    background: $color;
    position: absolute;
    left: 75%;
    top: 75%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all $ttime;
  }
  &.close::before {
    height: 80%;
    left: 50%;
    top: 50%;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    border: $tenth solid $color;
    border-radius: 50%;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all $ttime;
  }
  &.close::after {
    border-width: $twentieth;
    border-radius: 0px;
    // background: $color;
    width: 0px;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

/* SEARCH WRAPPER */
.search-wrapper {
  transition: all $ttime;
  width: $size;
  height: $size;
  position: relative;
  .magic-icon-search {
    position: absolute;
    right: $twentieth;
  }
  .search-bar {
    width: 0px;
    padding: 0px;
    position: absolute;
    left: $twentieth;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
  }
  &.open {
    width: 10 * $size;
    .search-bar {
      width: 9 * $size - 2 * $twentieth;
    }
  }
}

/* SEARCH BAR */
$font-size: 36px;

.search-bar {
  overflow: hidden;
  font-size: $font-size;
  font-family: sans-serif;
  input {
    width: inherit;
    border: none;
    border-bottom: $tenth solid $gray;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: $gray;
    &:focus {
      outline: none;
      color: $main-text
    }
  }
  .fancy-line {
    color: transparent;
    position: absolute;
    left: 0px;
    top: calc(100% - #{$tenth});
    display: inline-block;
    border-top: $tenth solid $line-color;
    font-size: inherit;
    font-family: inherit;
  }
}

/* SEARCH COMPLETIONS */
.search-completions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 9 * $size;
  background: lighten($background, 10%);
  z-index: 5;
  .completion {
    border: 1px solid $gray;
    border-top: none;
    border-left: 2px solid $main-text;
    padding: 4px 8px;
    &:nth-of-type(1) {
      border-top: 1px solid $gray;
    }
    &.active {
      border-left: 6px solid $accent;
      background: lighten($background, 80%);
      color: #333;
      font-weight: bold;
    }
  }
}

/* Property table */
.property {
  margin-top: 48px;
  width: 800px;
  position: relative;
  h1 {
    margin: 0;
    padding: 8px 16px;
    background: $accent;
    box-shadow: 0px 4px 4px rgba(#000, 0.7);
  }
  table {
    width: 100%;
    border-spacing: 0;
    box-shadow: 0px 4px 4px rgba(#000, 0.7);
    tr {
      background: #fff;
      color: #333;
      &:nth-of-type(2n) {
        background: #ddd;
      }
    }
    th {
      padding: 4px;
      width: 20%;
    }
    td {
      padding: 4px;
      width: 80%;
    }
  }
}
