/* COLORS */
/* GENERAL STUFF */
body {
  margin: 0; }

#app {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh; }

/* SEARCH ICON */
.magic-icon-search {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer; }
  .magic-icon-search::before {
    content: '';
    display: inline-block;
    width: 10%;
    height: 40%;
    background: #000;
    position: absolute;
    left: 75%;
    top: 75%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.5s; }
  .magic-icon-search.close::before {
    height: 80%;
    left: 50%;
    top: 50%; }
  .magic-icon-search::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    border: 8px solid black;
    border-radius: 50%;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 0.5s; }
  .magic-icon-search.close::after {
    border-width: 4px;
    border-radius: 0px;
    width: 0px;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }

/* SEARCH WRAPPER */
.search-wrapper {
  transition: all 0.5s;
  width: 80px;
  height: 80px;
  position: relative; }
  .search-wrapper .magic-icon-search {
    position: absolute;
    right: 4px; }
  .search-wrapper .search-bar {
    width: 0px;
    padding: 0px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit; }
  .search-wrapper.open {
    width: 640px; }
    .search-wrapper.open .search-bar {
      width: 552px; }

/* SEARCH BAR */
.search-bar input {
  width: inherit;
  border: none;
  border-bottom: 2px solid #ddd;
  background: none;
  font-size: 36px; }
  .search-bar input:focus {
    outline: none; }
